# 작업형2 기출 유형(심화)
- 본 문제는 변형한 심화 문제 입니다.

### 여행 보험 패키지 상품을 구매할 확률 값을 구하시오
- 예측할 값(y): TravelInsurance (여행보험 패지지를 구매 했는지 여부 0:구매안함, 1:구매)
- 평가: roc-auc 평가지표
- data: t2-1-train.csv, t2-1-test.csv
- 제출 형식

~~~
id,TravelInsurance
0,0.3
1,0.48
2,0.3
3,0.83
~~~

# Baseline
### 3회 기출문제에서 데이터 셋을 편집해 조금 더 어렵게 만들었어요
- 결측치 추가
- Employment Type 컬럼에 카테고리 추가 
- sample_submission 파일은 제공된 적 없음(3회 때 제출 형식에 대한 이슈가 있어 제공하거나 제출 형식을 명확하게 설명할 가능성 있어 보임)

### 풀이 영상: https://youtu.be/QpNufh_ZV7A?t=291

In [17]:
# 라이브러리 불러오기
import pandas as pd

In [18]:
# 데이터 불러오기
train = pd.read_csv("../input/big-data-analytics-certification/t2-1-train.csv")
test = pd.read_csv("../input/big-data-analytics-certification/t2-1-test.csv")

In [19]:
train.head()

,id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,10000,28,Private Sector/Self Employed,Yes,1250000.0,6,1,No,No,0
1,10001,31,Private Sector/Self Employed,Yes,1250000.0,7,1,No,No,0
2,10002,29,Private Sector/Self Employed,Yes,1200000.0,7,0,No,No,1
3,10003,33,Government Sector,Yes,650000.0,6,1,No,No,1
4,10004,28,Private Sector/Self Employed,Yes,800000.0,6,0,No,Yes,1

In [20]:
test.head()

,id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,0,32,Government Sector,Yes,650000.0,5,0,No,No
1,1,27,Government Sector,Yes,500000.0,5,0,No,No
2,2,32,Government Sector,Yes,350000.0,2,0,No,No
3,3,26,Private Sector/Self Employed,Yes,1400000.0,6,0,No,Yes
4,4,27,Private Sector/Self Employed,No,350000.0,3,0,No,No

In [21]:
import pandas as pd
import numpy as np

In [22]:
train.isnull().sum()

id                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           4
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [23]:
test.isnull().sum()

id                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           3
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1486 non-null   float64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 116.5+ KB

In [26]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    object
 3   GraduateOrNot        497 non-null    object
 4   AnnualIncome         494 non-null    float64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    object
 8   EverTravelledAbroad  497 non-null    object
dtypes: float64(1), int64(4), object(4)
memory usage: 35.1+ KB

In [28]:
train.select_dtypes(include = 'object').columns

Index(['Employment Type', 'GraduateOrNot', 'FrequentFlyer',
       'EverTravelledAbroad'],
      dtype='object')

In [29]:
test.select_dtypes(include = 'object').columns

Index(['Employment Type', 'GraduateOrNot', 'FrequentFlyer',
       'EverTravelledAbroad'],
      dtype='object')

In [31]:
train['AnnualIncome'] = train['AnnualIncome'].fillna(train['AnnualIncome'].mean())
test['AnnualIncome'] = test['AnnualIncome'].fillna(test['AnnualIncome'].mean())

In [33]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

train_cols = train.select_dtypes(include = 'object').columns
test_cols = test.select_dtypes(include = 'object').columns

for cols in train_cols:
    train[cols] = encoder.fit_transform(train[cols])
    
for cols in test_cols:
    test[cols] = encoder.fit_transform(test[cols])

In [34]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
scaler = MinMaxScaler()

In [44]:
train.head()

,id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,10000,28,1,1,0.633333,6,1,0,0,0
1,10001,31,1,1,0.633333,7,1,0,0,0
2,10002,29,1,1,0.600000,7,0,0,0,1
3,10003,33,0,1,0.233333,6,1,0,0,1
4,10004,28,1,1,0.333333,6,0,0,1,1

In [45]:
target = train.pop('TravelInsurance')

In [46]:
train['AnnualIncome'] = scaler.fit_transform(train[['AnnualIncome']])
test['AnnualIncome'] = scaler.transform(test[['AnnualIncome']])
test

,id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,0,32,1,1,0.233333,5,0,0,0
1,1,27,1,1,0.133333,5,0,0,0
2,2,32,1,1,0.033333,2,0,0,0
3,3,26,2,1,0.733333,6,0,0,1
4,4,27,2,0,0.033333,3,0,0,0
...,...,...,...,...,...,...,...,...,...
492,492,25,2,0,0.566667,5,1,1,0
493,493,34,2,1,0.800000,9,0,1,1
494,494,33,1,1,0.266667,4,0,0,0
495,495,26,2,1,0.733333,4,0,0,1
496,496,26,2,1,0.800000,3,0,1,1

In [49]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(train, target, test_size = 0.15, random_state = 42)
X_tr.shape, X_val.shape, y_tr.shape, y_val.shape

((1266, 9), (224, 9), (1266,), (224,))

In [66]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [65]:
from sklearn.metrics import roc_auc_score

In [67]:
model = LogisticRegression()
model.fit(X_tr, y_tr)
pred = model.predict(X_val)
a1 = roc_auc_score(y_val, pred)
a1

0.6238884572217905

In [68]:
model = RandomForestClassifier()
model.fit(X_tr, y_tr)
pred = model.predict(X_val)
a2 = roc_auc_score(y_val, pred)
a2

0.7841664508331175

In [70]:
model = DecisionTreeClassifier()
model.fit(X_tr, y_tr)
pred = model.predict(X_val)
a3 = roc_auc_score(y_val, pred)
a3

0.7125960459293793

In [72]:
target

0       0
1       0
2       1
3       1
4       1
       ..
1485    0
1486    0
1487    1
1488    0
1489    0
Name: TravelInsurance, Length: 1490, dtype: int64

In [73]:
model = RandomForestClassifier()
model.fit(train, target)
pred = model.predict(test)
pred

array([0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1])

In [74]:
test

,id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,0,32,1,1,0.233333,5,0,0,0
1,1,27,1,1,0.133333,5,0,0,0
2,2,32,1,1,0.033333,2,0,0,0
3,3,26,2,1,0.733333,6,0,0,1
4,4,27,2,0,0.033333,3,0,0,0
...,...,...,...,...,...,...,...,...,...
492,492,25,2,0,0.566667,5,1,1,0
493,493,34,2,1,0.800000,9,0,1,1
494,494,33,1,1,0.266667,4,0,0,0
495,495,26,2,1,0.733333,4,0,0,1
496,496,26,2,1,0.800000,3,0,1,1

In [79]:
sub = pd.DataFrame({'id : ': test['id'] ,
                   'TravelInsurance' : pred})
sub

     id :   TravelInsurance
0        0                0
1        1                0
2        2                0
3        3                1
4        4                0
..     ...              ...
492    492                0
493    493                1
494    494                0
495    495                1
496    496                1

[497 rows x 2 columns]

In [ ]:
### sub.to_csv('수험번호.csv', index = False)