### ÌíÄÏù¥ ÏòÅÏÉÅ: https://youtu.be/diP0q1YzVFg

## Q. [ÎßàÏºÄÌåÖ] ÏûêÎèôÏ∞® ÏãúÏû• ÏÑ∏Î∂ÑÌôî
- ÏûêÎèôÏ∞® ÌöåÏÇ¨Îäî ÏÉàÎ°úÏö¥ Ï†ÑÎûµÏùÑ ÏàòÎ¶ΩÌïòÍ∏∞ ÏúÑÌï¥ 4Í∞úÏùò ÏãúÏû•ÏúºÎ°ú ÏÑ∏Î∂ÑÌôîÌñàÏäµÎãàÎã§.
- Í∏∞Ï°¥ Í≥†Í∞ù Î∂ÑÎ•ò ÏûêÎ£åÎ•º Î∞îÌÉïÏúºÎ°ú Ïã†Í∑ú Í≥†Í∞ùÏù¥ Ïñ¥Îñ§ Î∂ÑÎ•òÏóê ÏÜçÌï†ÏßÄ ÏòàÏ∏°Ìï¥Ï£ºÏÑ∏Ïöî!


- ÏòàÏ∏°Ìï† Í∞í(y): "Segmentation" (1,2,3,4)
- ÌèâÍ∞Ä: Macro f1-score
- data: train.csv, test.csv
- Ï†úÏ∂ú ÌòïÏãù: 
~~~
ID,Segmentation
458989,1
458994,2
459000,3
459003,4
~~~

### ÎãµÏïà Ï†úÏ∂ú Ï∞∏Í≥†
- ÏïÑÎûò ÏΩîÎìú ÏòàÏ∏°Î≥ÄÏàòÏôÄ ÏàòÌóòÎ≤àÌò∏Î•º Í∞úÏù∏Î≥ÑÎ°ú Î≥ÄÍ≤ΩÌïòÏó¨ ÌôúÏö© 
- pd.DataFrame({'ID': test.ID, 'Segmentation': pred}).to_csv('003000000.csv', index=False)

### ÎÖ∏Ìä∏Î∂Å Íµ¨Î∂Ñ
- basic: ÏàòÏπòÌòï Îç∞Ïù¥ÌÑ∞Îßå ÌôúÏö© -> ÌïôÏäµ Î∞è testÎç∞Ïù¥ÌÑ∞ ÏòàÏ∏°
- intermediate: Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞ÎèÑ ÌôúÏö© -> ÌïôÏäµ Î∞è testÎç∞Ïù¥ÌÑ∞ ÏòàÏ∏°
- advanced: ÌïôÏäµ Î∞è ÍµêÏ∞® Í≤ÄÏ¶ù(Î™®Îç∏ ÌèâÍ∞Ä) -> ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãù -> testÎç∞Ïù¥ÌÑ∞ ÏòàÏ∏°

### ÌïôÏäµÏùÑ ÏúÑÌïú Ï±ÑÏ†ê
- ÏµúÏ¢Ö ÌååÏùºÏùÑ "ÏàòÌóòÎ≤àÌò∏.csv"Í∞Ä ÏïÑÎãå "submission.csv" ÏûëÏÑ± ÌõÑ Ïò§Î•∏Ï™Ω Î©îÎâ¥ ÏïÑÎûò "submit" Î≤ÑÌäº ÌÅ¥Î¶≠ -> Î¶¨ÎçîÎ≥¥ÎìúÏóê Ï†êÏàò Î∞è Îì±Ïàò ÌôïÏù∏ Í∞ÄÎä•Ìï®
- pd.DataFrame({'ID': test.ID, 'Segmentation': pred}).to_csv('submission.csv', index=False)

In [64]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

In [94]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
train = pd.read_csv("../input/big-data-analytics-certification-kr-2022/train.csv")
test = pd.read_csv("../input/big-data-analytics-certification-kr-2022/test.csv")

# üç≠ basic Îã®Í≥Ñ üç≠  
- Î™©Ìëú: ÏàòÏπòÌòï Îç∞Ïù¥ÌÑ∞ÎßåÏù¥ÎùºÎèÑ ÌôúÏö©Ìï¥ Ï†úÏ∂úÌïòÏûê!!!üëç

In [95]:
train.head(3)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,4
1,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,2
2,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,2

In [96]:
test.head(3)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6

In [97]:
test.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [98]:
train.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [99]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB

In [100]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2154 non-null   int64
 1   Gender           2154 non-null   object
 2   Ever_Married     2154 non-null   object
 3   Age              2154 non-null   int64
 4   Graduated        2154 non-null   object
 5   Profession       2154 non-null   object
 6   Work_Experience  2154 non-null   float64
 7   Spending_Score   2154 non-null   object
 8   Family_Size      2154 non-null   float64
 9   Var_1            2154 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 168.4+ KB

In [101]:
train.describe()

                 ID          Age  Work_Experience  Family_Size  Segmentation
count    6665.00000  6665.000000      6665.000000  6665.000000   6665.000000
mean   463519.84096    43.536084         2.629107     2.841110      2.542836
std      2566.43174    16.524054         3.405365     1.524743      1.122723
min    458982.00000    18.000000         0.000000     1.000000      1.000000
25%    461349.00000    31.000000         0.000000     2.000000      2.000000
50%    463575.00000    41.000000         1.000000     2.000000      3.000000
75%    465741.00000    53.000000         4.000000     4.000000      4.000000
max    467974.00000    89.000000        14.000000     9.000000      4.000000

In [102]:
test.describe()

                  ID          Age  Work_Experience  Family_Size
count    2154.000000  2154.000000      2154.000000  2154.000000
mean   463496.744661    43.461467         2.551532     2.837047
std      2591.465156    16.761895         3.344917     1.566872
min    458989.000000    18.000000         0.000000     1.000000
25%    461282.250000    30.000000         0.000000     2.000000
50%    463535.000000    41.000000         1.000000     2.000000
75%    465705.750000    52.000000         4.000000     4.000000
max    467968.000000    89.000000        14.000000     9.000000

In [103]:
target = train.pop('Segmentation')

In [104]:
from sklearn.preprocessing import LabelEncoder

In [105]:
train_cols = train.select_dtypes(include = 'object').columns
test_cols = test.select_dtypes(include = 'object').columns

In [106]:
encoder = LabelEncoder()

for cols in train_cols:
    train[cols] = encoder.fit_transform(train[cols])
for cols in test_cols:
    test[cols] = encoder.fit_transform(test[cols])

In [107]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [108]:
train['Age'] = scaler.fit_transform(train[['Age']])
test['Age'] = scaler.transform(test[['Age']])

In [109]:
from sklearn.model_selection import train_test_split

In [110]:
X_tr, X_val, y_tr, y_val = train_test_split(train, target, test_size = 0.15, random_state = 42)
X_tr.shape, X_val.shape, y_tr.shape, y_val.shape

((5665, 10), (1000, 10), (5665,), (1000,))

In [111]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [112]:
from sklearn.metrics import f1_score
#help(f1_score)
#f1_score(y_true, y_pred, average='macro')

In [113]:
train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,462809,1,0,0.056338,0,5,1.0,2,4.0,3
1,466315,0,1,0.690141,1,2,1.0,2,1.0,5
2,461735,1,1,0.690141,1,7,0.0,1,2.0,5
3,461319,1,1,0.535211,0,0,0.0,0,2.0,5
4,460156,1,0,0.197183,1,5,1.0,2,3.0,5

In [114]:
model = LogisticRegression()
model.fit(X_tr, y_tr)
pred = model.predict(X_val)
a1 = f1_score(y_val, pred, average = 'macro')
a1

0.10876369327073553

In [115]:
model = RandomForestClassifier()
model.fit(X_tr, y_tr)
pred = model.predict(X_val)
a2 = f1_score(y_val, pred, average = 'macro')
a2

0.5087812458152186

In [116]:
model = DecisionTreeClassifier()
model.fit(X_tr, y_tr)
pred = model.predict(X_val)
a3 = f1_score(y_val, pred, average = 'macro')
a3

0.415837167118317

In [117]:
test

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,0,1,0.253521,1,2,0.0,2,1.0,5
1,458994,1,1,0.267606,1,5,8.0,0,4.0,5
2,459000,1,1,0.577465,0,4,11.0,1,2.0,5
3,459003,1,1,0.408451,1,1,0.0,1,5.0,3
4,459005,1,1,0.605634,1,1,5.0,2,3.0,5
...,...,...,...,...,...,...,...,...,...,...
2149,467950,0,0,0.239437,1,3,1.0,2,2.0,5
2150,467954,1,0,0.154930,0,5,9.0,2,4.0,5
2151,467958,0,0,0.239437,1,1,1.0,2,1.0,5
2152,467961,1,1,0.408451,1,4,1.0,1,5.0,3
2153,467968,0,0,0.352113,1,5,9.0,2,3.0,6

In [118]:
model = RandomForestClassifier()
model.fit(train, target)
pred = model.predict(test)
pred

array([2, 3, 3, ..., 2, 2, 4])

In [122]:
sub = pd.DataFrame({'ID' : test['ID'],
                   'Segmentation' : pred})
sub

          ID  Segmentation
0     458989             2
1     458994             3
2     459000             3
3     459003             3
4     459005             1
...      ...           ...
2149  467950             4
2150  467954             4
2151  467958             2
2152  467961             2
2153  467968             4

[2154 rows x 2 columns]

In [125]:
sub.to_csv(r'C:\Users\hanji\ÏàòÌóòÎ≤àÌò∏.csv', index = False)