### 풀이 영상: https://youtu.be/XAT0qvN5tnA

## 작업형1 문제
### 1-1. age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력
- data_path: ../input/bigdatacertificationkr/basic1.csv

In [1]:
import pandas as pd
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df.head(3)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [2]:
ans = int(df['age'].quantile(0.75) - df['age'].quantile(0.25))
print(ans)

50

### 1-2.(loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type 컬럼이 'video'인 데이터의 갯수
- data_path: ../input/big-data-analytics-certification-kr-2022/fb.csv

In [4]:
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification-kr-2022/fb.csv")
df.head(3)

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys
0,1,video,529,512,262,432,92,3,1,1,0
1,2,photo,150,0,0,150,0,0,0,0,0
2,3,video,227,236,57,204,21,1,1,0,0

In [5]:
df['ratio'] = (df['loves'] + df['wows']) / df['reactions']
df.head(3)

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys,ratio
0,1,video,529,512,262,432,92,3,1,1,0,0.179584
1,2,photo,150,0,0,150,0,0,0,0,0,0.000000
2,3,video,227,236,57,204,21,1,1,0,0,0.096916

In [8]:
ans = len(df.loc[(df['ratio'] > 0.4) & (df['ratio'] < 0.5)& (df['type'] == 'video')])
print(ans)

90

### 1-3. date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수
- data_path: ../input/big-data-analytics-certification-kr-2022/nf.csv

In [11]:
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification-kr-2022/nf.csv")
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries

In [15]:
df['date_added'] = pd.to_datetime(df['date_added'])
df['year'] = df['date_added'].dt.year
df['month'] = df['date_added'].dt.month
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,2021.0,9.0

In [19]:
ans = len(df.loc[(df['year'] == 2018.0) & (df['month'] == 1.0) & (df['country'] == 'United Kingdom')])
ans

6