https://www.kaggle.com/code/agileteam/py-t1-11-min-max-5-expected-questions/notebook
min-max스케일링 기준 상하위 5% 구하기
주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오

- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- File -> Editor Type -> Script

In [6]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [7]:
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [10]:
scaler = MinMaxScaler()

df['f5_1'] = scaler.fit_transform(df[['f5']])

df['f5_1'].head()

0    0.919533
1    0.570252
2    0.084129
3    0.483685
4    0.219708
Name: f5_1, dtype: float64

In [11]:
h = df['f5_1'].quantile(0.95)
l = df['f5_1'].quantile(0.05)

print(h + l)

1.0248740983597389