https://www.kaggle.com/code/agileteam/py-t1-10-expected-questions/notebook

# 수치형 변수 변환하기


### 주어진 데이터에서 20세 이상인 데이터를 추출하고 'f1'컬럼을 결측치를 최빈값으로 채운 후, f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고, 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

### 박스-콕스
![박스-콕스](https://wikimedia.org/api/rest_v1/media/math/render/svg/b565ae8f1cce1e4035e2a36213b8c9ce34b5029d)

### 여-존슨
![여-존슨](https://wikimedia.org/api/rest_v1/media/math/render/svg/2a99e24c81226f3d0547c471281197ea265553c5)

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [11]:
# 조건에 맞는 데이터

df = df.loc[df['age'] >= 20]
df.head()

     id   age city    f1  f2   f3    f4         f5
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
5  id06  22.0   서울  57.0   0  vip  INTP  20.129444
6  id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378

In [12]:
#f1컬럼 최빈값 구하기

df['f1'].mode()[0]

50.0

In [13]:
# 최빈값으로 'f1' 컬럼 결측치 대체

df['f1'] = df['f1'].fillna(df['f1'].mode()[0])
df['f1']

2     61.0
3     50.0
4     85.0
5     57.0
6     60.0
      ...
94    43.0
95    53.0
96    50.0
97    58.0
99    53.0
Name: f1, Length: 83, dtype: float64

In [14]:
df.f1.isnull().sum()

0

In [16]:
from sklearn.preprocessing import power_transform

In [17]:
# 'f1'데이터 여-존슨 yeo-johnson 값 구하기
df['y'] = power_transform(df[['f1']], standardize = False) #method 디폴트 값은 yeo-johnson
df['y'].head()

2    20.583423
3    17.968081
4    25.773745
5    19.653167
6    20.352915
Name: y, dtype: float64

In [20]:
# 'f1'데이터 박스-콕스 box-cox 값 구하기
df['b'] = power_transform(df[['f1']], method='box-cox', standardize=False)
df['b'].head()

2    21.067090
3    18.305263
4    26.557680
5    20.084373
6    20.823545
Name: b, dtype: float64

In [21]:
# 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)
round(sum(np.abs(df['y'] - df['b'])),2)

39.17

## Hint
- https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.power_transform.html

In [ ]:
from sklearn.preprocessing import power_transform
data = [[11, 12], [23, 22], [34, 35]]
print(power_transform(data)) # method 디폴트 값은 여-존슨’yeo-johnson’
print(power_transform(data, method='box-cox'))