### 주어진 데이터(basic2.csv)에서 "pv"컬럼으로 1일 시차(lag)가 있는 새로운 컬럼을 만들고(예: 1월 2일에는 1월 1일 pv데이터를 넣고, 1월 3일에는 1월 2일 pv데이터를 넣음),새로운 컬럼의 1월 1일은 다음날(1월 2일)데이터로 결측치를 채운 다음, Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")
df

           Date     Sales      PV      UV  Events
0    2022-01-01  22711525  397349  4421.0       1
1    2022-01-02     36779    3969  2289.0       0
2    2022-01-03  13943875  373890     NaN       1
3    2022-01-04   8088593  142054  2157.0       0
4    2022-01-05   2395374  190684     NaN       0
..          ...       ...     ...     ...     ...
725  2023-12-27  33846609  415067  7360.0       1
726  2023-12-28   3659566  208601  2262.0       1
727  2023-12-29   1164008   14309   193.0       0
728  2023-12-30   3977696   60935     NaN       0
729  2023-12-31   3719764   60963  1507.0       0

[730 rows x 5 columns]

In [6]:
help(pd.DataFrame.shift)

Help on function shift in module pandas.core.frame:

shift(self, periods=1, freq: 'Frequency | None' = None, axis: 'Axis' = 0, fill_value=<no_default>) -> 'DataFrame'
    Shift index by desired number of periods with an optional time `freq`.

    When `freq` is not passed, shift the index without realigning the data.
    If `freq` is passed (in this case, the index must be date or datetime,
    or it will raise a `NotImplementedError`), the index will be
    increased using the periods and the `freq`. `freq` can be inferred
    when specified as "infer" as long as either freq or inferred_freq
    attribute is set in the index.

    Parameters
    ----------
    periods : int
        Number of periods to shift. Can be positive or negative.
    freq : DateOffset, tseries.offsets, timedelta, or str, optional
        Offset to use from the tseries module or time rule (e.g. 'EOM').
        If `freq` is specified then the index values are shifted but the
        data is not realigned. That is, use `freq` if you would like to
        extend the index when shifting and preserve the original data.
        If `freq` is specified as "infer" then it will be inferred from
        the freq or inferred_freq attributes of the index. If neither of
        those attributes exist, a ValueError is thrown.
    axis : {0 or 'index', 1 or 'columns', None}, default None
        Shift direction.
    fill_value : object, optional
        The scalar value to use for newly introduced missing values.
        the default depends on the dtype of `self`.
        For numeric data, ``np.nan`` is used.
        For datetime, timedelta, or period data, etc. :attr:`NaT` is used.
        For extension dtypes, ``self.dtype.na_value`` is used.

        .. versionchanged:: 1.1.0

    Returns
    -------
    DataFrame
        Copy of input object, shifted.

    See Also
    --------
    Index.shift : Shift values of Index.
    DatetimeIndex.shift : Shift values of DatetimeIndex.
    PeriodIndex.shift : Shift values of PeriodIndex.
    tshift : Shift the time index, using the index's frequency if
        available.

    Examples
    --------
    >>> df = pd.DataFrame({"Col1": [10, 20, 15, 30, 45],
    ...                    "Col2": [13, 23, 18, 33, 48],
    ...                    "Col3": [17, 27, 22, 37, 52]},
    ...                   index=pd.date_range("2020-01-01", "2020-01-05"))
    >>> df
                Col1  Col2  Col3
    2020-01-01    10    13    17
    2020-01-02    20    23    27
    2020-01-03    15    18    22
    2020-01-04    30    33    37
    2020-01-05    45    48    52

    >>> df.shift(periods=3)
                Col1  Col2  Col3
    2020-01-01   NaN   NaN   NaN
    2020-01-02   NaN   NaN   NaN
    2020-01-03   NaN   NaN   NaN
    2020-01-04  10.0  13.0  17.0
    2020-01-05  20.0  23.0  27.0

    >>> df.shift(periods=1, axis="columns")
                Col1  Col2  Col3
    2020-01-01   NaN    10    13
    2020-01-02   NaN    20    23
    2020-01-03   NaN    15    18
    2020-01-04   NaN    30    33
    2020-01-05   NaN    45    48

    >>> df.shift(periods=3, fill_value=0)
                Col1  Col2  Col3
    2020-01-01     0     0     0
    2020-01-02     0     0     0
    2020-01-03     0     0     0
    2020-01-04    10    13    17
    2020-01-05    20    23    27

    >>> df.shift(periods=3, freq="D")
                Col1  Col2  Col3
    2020-01-04    10    13    17
    2020-01-05    20    23    27
    2020-01-06    15    18    22
    2020-01-07    30    33    37
    2020-01-08    45    48    52

    >>> df.shift(periods=3, freq="infer")
                Col1  Col2  Col3
    2020-01-04    10    13    17
    2020-01-05    20    23    27
    2020-01-06    15    18    22
    2020-01-07    30    33    37
    2020-01-08    45    48    52

In [11]:
df['PV'] = df['PV'].shift(periods = 1)
df.head()

         Date     Sales        PV      UV  Events
0  2022-01-01  22711525       NaN  4421.0       1
1  2022-01-02     36779  397349.0  2289.0       0
2  2022-01-03  13943875    3969.0     NaN       1
3  2022-01-04   8088593  373890.0  2157.0       0
4  2022-01-05   2395374  142054.0     NaN       0

In [13]:
df['PV'] = df['PV'].fillna(method = 'backfill')
df.head()

         Date     Sales        PV      UV  Events
0  2022-01-01  22711525  397349.0  4421.0       1
1  2022-01-02     36779  397349.0  2289.0       0
2  2022-01-03  13943875    3969.0     NaN       1
3  2022-01-04   8088593  373890.0  2157.0       0
4  2022-01-05   2395374  142054.0     NaN       0

In [14]:
df = df[df['Events'] == 1]
df = df[df['Sales'] <= 1000000]

In [15]:
df.PV.sum()

1894876.0